 h1{
                color: blue;
                background-color: greenyellow;
            }
            p{
                color: red;
                background-color: skyblue;
                font-size: 32px;
            }