.para{
    color: rgb(3, 3, 82);
    text-align: center;
    text-decoration-line: underline;
    text-decoration-color: aqua;
}
.para1{
    color: red;
    text-align: justify;
    text-transform: capitalize;
    text-decoration-line: line-through;
    text-decoration-color: skyblue;
    text-decoration-thickness: 5px;
}
.para2{
    color: rgb(0, 128, 0);
    text-align: left;
    text-decoration-line: overline;
    text-decoration-color: blue;
    text-indent: 5px;
}
.para3{
    color: orangered;
    text-align: right;
    line-height: 3cap;
}
.para4{
    color:darkmagenta;
    text-align: end;
    text-transform: uppercase;
    
}
.para5{
    letter-spacing:20px;
    word-spacing: 20px;
    text-shadow: 1px 3px rgb(53, 81, 221);
}